/* src/components/Confetti.css */
.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.confetti-piece {
  position: absolute;
  top: -20px;
  animation: fall 7s linear infinite;
}

.confetti-shape {
  width: 8px;
  height: 16px;
}


@keyframes fall {
  0% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotateZ(360deg);
    opacity: 0;
  }
}
